@import '_reset';

$primary-color: #ffcc00;

.mainer {
    width: 1170px;
    margin: 50px auto 90px;
}

.pretitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #898f8f;
    font-size: 18px;
    text-align: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $primary-color;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    margin: 10px 0 0 0;
}

.devider {
    margin: 0 355px;
    .line {
        width: 210px;
        height: 1px;
        border: none;
        background-color: $primary-color;
        display: inline-block;
        margin: 0 0 8px 0;
    }
    img {
        padding: 0 7px;
    }
}

.details {
    display: flex;
    margin: 40px 0 0 0;
    .portrait {
        margin: 90px 95px 120px;
        border: 1px solid #ffcc00;
        position: relative;

        .angle_lt, .angle_rt, .angle_lb, .angle_rb {
            width: 100px;
            height: 100px;
            position: absolute;
        }
        .angle_lt {
            border-top: 1px solid #ffcc00;
            border-left: 1px solid #ffcc00;
            left: -15px;
            top: -15px;
        }
        .angle_rt {
            border-top: 1px solid #ffcc00;
            border-right: 1px solid #ffcc00;
            right: -15px;
            top: -15px;
        }
        .angle_lb {
            border-bottom: 1px solid #ffcc00;
            border-left: 1px solid #ffcc00;
            left: -15px;
            bottom: -15px;  
        }

        .angle_rb {
            border-bottom: 1px solid #ffcc00;
            border-right: 1px solid #ffcc00;
            right: -15px;
            bottom: -15px;
        }
    }
.info {
    padding: 90px 83px;
    border-left: 1px solid #ffcc00;
    width: 588px;
    box-sizing: border-box;

    .name {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        color: #666666;
        font-size: 36px;
        text-align: center;
    }
    .separator {
        width: 100px;
        height: 1px;
        background-color: $primary-color;
        margin: 30px 156px 0 166px;
    }

    .job {
        font-family: 'Raleway', sans-serif;
        color: #666666;
        font-size: 24px;
        text-align: center;
        margin: 30px 0 26px 0;
    }
    .icons {
        padding: 0 135px;

        .icon {
            width: 30px;
            height: 30px;
            border: 2px solid #cccccc;
            border-radius: 50%;
            color: #cccccc;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            box-sizing: border-box;
            display: inline-block;
            margin: 0 2.5px;
        }    
    }
    .description {
        margin: 30px 0 0 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-style: 14px;
        line-height: 24px;
        text-align: center;
        color: #333333;
    }
    .block_divide {
        margin: 0 186px;
        .divide {
            width: 10px;
            height: 4px;
            background-color: $primary-color;
            display: inline-block;
        }
        .divide_2x {
           @extend .divide;
            width: 20px;
        }
    }
    .button {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #666666;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        border: 1px solid #ffcc00;
        max-width: 120px;
        margin: 24px 151px;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
        &:active {
            transform: scale(1.1,1.1);
        }
    }
} 
}

.pagination {
    margin: 40px 550px;
    .circle {
        background-color: $primary-color;
        height: 9px;
        width: 9px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        display: inline-block;
        margin: 0 4.5px;
        &:hover, &:active {
            background-color: #fff;
            cursor: pointer;
        }
    }
}